*{
    margin: 0;
    padding: 0;
   }

#App {
    height: 100vh;
    width: auto;
    background-image: url("/public/hellozetabg.svg");
    background-size: cover;
    overflow: scroll;
}
.title {
    color: black;
    font-family: "Montserrat";
    font-weight: 900;
}
.subtitle {
    color: black;
    font-family: "Montserrat";
}
.heading {
    color: black;
    font-family: "Montserrat";
    font-weight: 900;

}
.body {
    color: black;
    font-family: "Montserrat";
    font-weight: 100;
}

#demo {
    height: 80vh;
    width: auto;
}